.card{
  background-color: rgb(9, 10, 6);
  height: 300px;
  width: 600px;
  margin: 2rem;
  border-radius: 55;

}
.innerCard{
  
  border-style: 5px;
  height: 300px;
  width: 600px;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  color: brown;
  display: flex;
  flex-wrap: nowrap;
  text-align: justify;
}
