*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.menu{
background-color: aqua;


margin: 0;
    padding: 0;
    height:75px;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    background: #b30d0d;
}
