.menu{
   /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 15%, rgba(5,2,18,1) 69%, rgba(69,231,252,1) 100%);*/
   
    background: linear-gradient(144deg, rgb(3, 182, 236) 0%, rgba(240, 216, 5, 0.979) 100%);
   
    background-size: 100%;
    justify-content: space-between;
    padding: 5em;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 200px;
}

.button{
   
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    
    width: 1200px;
    height: 60px;
    color: #f9fffa;
  
   
    user-select: none;
    cursor: pointer;
    transition: 1s;
    display: flex;


  }
@keyframes animado {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1,2);
    }
}
.button:hover{
    animation-name: animado; 
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
 }




  
  
    
  
    
       