*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
.main{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #0f0cc9;
  border-radius: 75%;
  box-shadow: -24vw -44vh 2px 2px 
  #0535d4,38vw -4vh 0px 0px 
  #051ad4,-20vw -48vh 1px 2px 
  #0535d4,-39vw 38vh 3px 1px 
  #0547d4,-42vw -11vh 0px 3px 
  #0535d4,12vw 15vh 3px 3px 
  #0535d4,42vw 6vh 3px 2px 
  #051ad4,-8vw 9vh 0px 2px
  #051ad4,34vw -38vh 1px 0px
  #051ad4,-17vw 45vh 3px 1px
  #051ad4,22vw -36vh 3px 2px
  #051ad4,-42vw 1vh 1px 0px
  #051ad4;
  animation: zoom 03s alternate infinite;
}

@keyframes zoom {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.5);
  }
}
@keyframes zoom {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.5);
  }
}




body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b9df1

  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
}
